.prices  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
}
.prices .pg-custom-list {
    color: white;
    margin-top: 30px;
    margin-bottom: 40px;
}
    .prices .pg-custom-list li {
        padding-left: 25px;
        background: url(img/Union.html);
        background-repeat: no-repeat;
        background-position: 0px 3px;
        margin-bottom: 10px;
    }


.prices .wrapper {
    width: 95%;
    max-width: 1200px;
    margin: 30px auto;
}

.prices .pricing-table h2 {
    font-size: 1.5em;
    padding: 35px 10px;
    margin: 0;
}

.prices .description {
    margin-top: 20px;
    font-size: 0.85em;
    padding: 0 40px;
    font-style: italic;
}


.prices .price,
.prices .pricing-box {
    -webkit-transition: all ease-out 0.2s;
    transition: all ease-out 0.2s;
}

.prices .price {
    background: linear-gradient(270deg,#7ca5f8, #4a73c2, #3e5b94);
    color: #fff;
    font-size: 2em;
    font-weight: 600;
    position: relative;
    padding: 20px 10px;
    display: block;
}

.pricing-box:nth-child(2) .price {
    background: linear-gradient(270deg,#7ca5f8, #4a73c2, #3e5b94);
}

.pricing-box:nth-child(3) .price {
    background: linear-gradient(270deg,#7ca5f8, #4a73c2, #3e5b94);
}

.pricing-box:hover .price {
    background: #ff0;
    box-shadow: inset 0 0 100px 0 rgba(0, 0, 0, 0.3);
    color: #000;
}

.btn {
    background: #000000;
    border: 1px solid #000000;
    color: #fff;
    -webkit-transition: all ease-out 0.2s;
    transition: all ease-out 0.2s;
    border-radius: 30px;
    padding: 7px 40px;
    display: inline-block;
    margin-top: 20px;
}

    .btn:hover {
        background: linear-gradient(270deg,#7ca5f8, #4a73c2, #3e5b94);
        border: 1px solid #7d21cf;
        color: #fff !important;
    }

.pricing-table-divider {
    display: block;
    height: 1px;
    background: rgba(0, 0, 0, 0.08);
    max-width: 80%;
    margin: 20px auto 0;
}

.pricing-table {
    border-radius: 3px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    text-align: center;
}

.pricing-box-2 {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.13);
    border: 2px solid rgba(10, 123, 183, 0.14);
}

    .pricing-box-2:hover {
        -webkit-transform: scale(1.01);
        transform: scale(1.01);
    }

.pricing-table ul li {
    padding: 3px 0;
    font-size: 0.95em;
}

.pricing-table ul {
    color: #000;
    padding: 15px 60px;
    text-align: left;
}

.price-tab.active {
    display: block;
}

.price-tab {
    display: none;
}

@media (max-width: 750px) {
    .pricing-table {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

        .pricing-table > div:nth-child(3) {
            -ms-grid-row: 1;
            grid-row-start: 1;
        }

        .pricing-table > div:nth-child(2) {
            -ms-grid-row: 2;
            grid-row-start: 2;
        }

        .pricing-table > div {
            -ms-flex-item-align: top;
            -ms-grid-row-align: top;
            align-self: top;
        }
}

fieldset div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    justify-content: center;
}

input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

    input[type="radio"]:checked + span {
        box-shadow: 0 0 0 0.0625em #0043ed;
        background-color: #dee7ff;
        z-index: 1;
        color: #0043ed;
    }

label span {
    display: block;
    cursor: pointer;
    background-color: #fff;
    padding: 0.375em 0.75em;
    position: relative;
    margin-left: 0.0625em;
    box-shadow: 0 0 0 0.0625em #b5bfd9;
    letter-spacing: 0.05em;
    color: #3e4963;
    text-align: center;
    transition: background-color 0.5s ease;
}

label:first-child span {
    border-radius: 0.375em 0 0 0.375em;
}

label:last-child span {
    border-radius: 0 0.375em 0.375em 0;
}

.my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.recent-tranx {
    display: flex;
    margin-top: 50px;
}

    .recent-tranx > div {
        width: 50%;
        margin: 20px;
    }

.recent-tranx-table {
    width: 100%;
}

    .recent-tranx-table > thead > tr,
    .recent-tranx-table > tbody > tr {
        height: 50px;
    }

        .recent-tranx-table > tbody > tr:nth-of-type(odd) {
            background-color: rgba(0, 0, 0, .05);
        }

        .recent-tranx-table > tbody > tr > td {
            padding: 10px;
        }

.nav-height {
    height: 100vh !important;
}

.custom-translator {
    position: absolute;
    top: -20px;
    right: 2%;
    z-index: 999999;
}

    .custom-translator img {
        display: inline;
    }

.trading_view_slider {
    /* height: 100px; */
}



/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    background: linear-gradient(90deg, #4a73c2,#3e5b94);
    color: white;
    padding: 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    position: fixed;
    bottom: 23px;
    right: 28px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/* The popup chat - hidden by default */
.chat-popup {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 15px;
    border-radius: 30px;
    box-shadow: #091731 0px 20px 30px -10px;
    z-index: 500;
}

    /* Add styles to the form container */
    .chat-popup .form-container {
        max-width: 300px;
        width: 300px;
        max-height: 450px;
        padding: 10px;
        border-radius: 30px;
        background-color: white;
        position: relative;
        font-size: small;
    }
    .chat-popup .btn-outline {
        outline: none;
        border: 1px solid #3e5b94;
        background-color: white;
        color: #3e5b94;
        border-radius: 20px;
    }
    .chat-popup .btn-outline:hover {
        color: #15284e;
        border-radius: 0px;
    }

    .chat-popup .form-container #opencase {
        margin-top: 10px;
        padding: 10px;
        background: #f7f7f7;
        border-radius: 15px;
    }

        .chat-popup .form-container #handlecase {
            margin-top: 5px;
            padding: 10px;
            background: #ecfdfe;
            border-radius: 15px;
            height: 300px;
        }

        .chat-popup .form-container .form-control-sm {
            width: 100%;
            outline: none;
            border-radius: 15px;
            border: 1px solid #a8a8a8;
            margin: 5px;
            padding: 0 7px;
            min-height: 23px;
        }
        /* Full-width textarea */
        .chat-popup .form-container textarea {
            width: 100%;
            padding: 5px;
            border: none;
            resize: none;
            height: 100px;
        }

            /* When the textarea gets focus, do something */
            .chat-popup .form-container textarea:focus, .chat-popup .form-container .form-control-sm:focus {
                border-color: #d37e85;
                outline: none;
            }

        /* Set a style for the submit/send button */
        .chat-popup .form-container .btn {
            background-color: #04AA6D;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            margin-bottom: 10px;
            opacity: 0.8;
        }

        /* Add a red background color to the cancel button */
        .chat-popup .form-container .cancel {
            background-color: #3e5b94;
            height: 35px;
            width: 35px;
            position: absolute;
            top: 10px;
            right: 10px;
            outline: none;
            border: none;
            border-radius: 50%;
            opacity: 0.8;
        }

        /* Add some hover effects to buttons */
        .chat-popup .form-container .btn:hover, .open-button:hover, .cancel:hover {
            opacity: 1;
        }




.chatcontainer {
    position: relative;
    width: 100%;
   
}

    .chatcontainer .panel {
    }

    .chatcontainer .panel-body {
        height: 300px;
        padding-bottom: 45px;
        overflow-y: scroll;
    }

        .chatcontainer .panel-body::-webkit-scrollbar {
            display: none;
        }

    .chatcontainer .chat {
        position: absolute;
        bottom: 7px;
        width: 80%;
        margin-left: 10%;
        background-color: #3e5b94;
        border-radius: 30px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .chatcontainer .chat .form-control-sm {
            width: calc(100% - 50px);
            display: inline-block;
            float: left;
            background-color:white;
        }

.chat .btn-inverse {
    display: inline-block;
    float: left;
    width: 30px;
    height: 30px;
    margin: 3px;
    border-radius: 50%;
    background-color: #3C908E;
    outline: none;
    border: none;
    color: white;
}

.chatreply .QUERY {
    width: 85%;
    display: block;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 15px;
    margin-left: 15%;
    color: white;
    background: linear-gradient(270deg, #7ca5f8ff,#3e5b94ff);
}

.chatreply .RESPONSE {
    width: 85%;
    color: white;
    display: block;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 15px;
    margin-right: 15%;
    background: linear-gradient(320deg, #e8df3fff,#6cabb6ff);
}




